<% stylesheet_link_tag("sherlock_form") %>

<%= form_for(@sherlock) do |f| %>
  <% if @sherlock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sherlock.errors.count, "error") %> prohibited this sherlock from being saved:</h2>

      <ul>
      <% @sherlock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <hr />
  <br />
  Region: <%= select('sherlock', 'region_id', Region.all_active.order(:name).map{|r| [r.name, r.id] }) %>
  <br /><br />
  <div style="clear: both;"></div>

  <div class="features_box required">
    <div class="field">
      <h2>Required</h2>
      <h4>must have ALL of these</h4>
      <% @features.each do |feature| %>
        <%= check_box("required", feature) %> - <%= feature.titleize %><br />
      <% end %>
    </div>
  </div>

  <div class="features_box desired">
    <div class="field">
      <h2>Desired</h2>
      <h4>must have ONE or more</h4>
      <% @features.each do |feature| %>
        <%= check_box("desired", feature) %> - <%= feature.titleize %><br />
      <% end %>
    </div>
  </div>

  <div class="features_box nots">
    <div class="field">
      <h2>Nots</h2>
      <h4>CANNOT have ANY</h4>
      <% @features.each do |feature| %>
        <%= check_box("nots", feature) %> - <%= feature.titleize %><br />
      <% end %>
    </div>
  </div>
  <div style="clear: both;"></div>

  <br />

  <div class="actions">
    <%= submit_tag 'Search' %>
  </div>
<% end %>
