<p id="notice"><%= notice %></p>

<h1>Apartments</h2>
<p>with features <%= @sherlock.features.join(', ') %></p>

<% @apartments.each do |apartment| %>
	<p style="font-weight: bold;"><%= apartment.title %></p>
	<p>Features: <%= apartment.features.join(', ') %></p>
	<p>
		id: <%= apartment.id %> | <%= link_to 'Original post', apartment.url %>
	</p>
	<hr />
<% end %>


<%= link_to 'Edit', edit_sherlock_path(@sherlock) %> |
<%= link_to 'Back', sherlocks_path %>
