<p id="notice"><%= notice %></p>

<h1>Apartment Results</h2>
<p class="announcement">Bookmark this page and come back later and check for new results</p>

<div class="features_box required">
  <h3>Required</h3>
  <ul>
  <% @sherlock.required.each do |r| %>
    <li><%= r.titleize %></li>
  <% end %>
  </ul>
</div>

<div class="features_box desired">

  <h3>Desired</h3>
  <ul>
  <% @sherlock.desired.each do |r| %>
    <li><%= r.titleize %></li>
  <% end %>
  </ul>
</div>
<div class="features_box nots">

  <h3>Nots</h3>
  <ul>
  <% @sherlock.nots.each do |r| %>
    <li><%= r.titleize %></li>
  <% end %>
  </ul>
</div>
<div style="clear: both;"></div>

<% @apartments.each do |apartment| %>
	<p style="font-weight: bold;"><%= link_to apartment.title, apartment.url %></p>
	<p>Features: <%= apartment.features.join(', ') %></p>
	<hr />
<% end %>
