<!DOCTYPE html>
<html>
<head>
  <title>Padintel</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
  <%= csrf_meta_tag %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3590983-15']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
<div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div id="page">
    <div id="full_content">
      <div id="header">
          <span>
          <h1>PadIntel</h1>
          <h2>Apartment investigators</h2>
          </span>
          <span>
          <ul>
            <li><%= link_to 'Search', root_path %></li>
            <li><%= link_to 'About', about_path %></li>
            <li><a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="padintel" data-related="jsoo:Creator of PadIntel">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script></li>
            <li><div class="fb-like" data-href="http://www.padintel.com" data-send="false" data-layout="button_count" data-show-faces="false" data-font="arial"></div></li>
          </ul>
          </span>
          <div style="clear:both;"></div>
      </div>
      <%= yield %>
    </div>
    <div id="footer"><p style="text-align: center;">Follow us on twitter: <a href="http://twitter.com/padintel">@padintel</a>. Feedback desired.</div>
  </div>


  <script type="text/javascript">
  var clicky_site_ids = clicky_site_ids || [];
  clicky_site_ids.push(66476398);
  (function() {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = '//static.getclicky.com/js';
    ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
  })();
  </script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66476398ns.gif" /></p></noscript>

</body>
</html>
